package site

import "github.com/dbrudner/go-qr-code-gen/views/layout"

templ Collection() {
@layout.Base("List of sites") {
<div class="text-slate-300 bg-cyan-400">
  <a href="/sites">Sites</a>
</div>
}
}
