package siteView

import (
	"github.com/dbrudner/go-qr-code-gen/internal/site"
	"github.com/dbrudner/go-qr-code-gen/views/layout"
)

templ Detail(site site.Site) {
	@layout.Base(site.Description) {
		<div class="text-slate-300 bg-cyan-400">
			URL: { site.URL }
		</div>
	}
}
