package home

import "github.com/dbrudner/go-qr-code-gen/views/layout"

templ Show() {
	@layout.Base("Home Page") {
		<div class="text-slate-300 bg-cyan-400">
			<a href="/sites">Sites</a>
		</div>
	}
}
